<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marianhello.backgroundgeolocation">

    <application>
        <meta-data
            android:name="android.support.VERSION"
            android:value="${supportLibVersion}"
            tools:replace="android:value" />
    </application>
</manifest>